@font-face {
  font-family: Epilogue;
  src: url("/public/Epilogue-VariableFont_wght.ttf")format('truetype');
}
@font-face {
  font-family: EpilogueItalic;
  src: url("/public/Epilogue-Italic-VariableFont_wght.ttf")format('truetype');
}