@import "fonts";
@import "header";
@import "menu";
@import "body";

:root {
  --color1: hsl(0, 0%, 98%);
  --color2: hsl(0, 0%, 41%);
  --color3: hsl(0, 0%, 8%);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Epilogue;
  font-size: 18px;
  overflow-x: hidden;
}
